.toolbar {
    height: 2rem;
    padding: 0 1rem;
    border-bottom: 1px solid #CCC;
    border-radius: 3px 3px 0 0;
    background: #f6f8fa;
    color: #000;
}

.toolbar .tabs{
    float: left;
    margin-bottom: -1px;
}
.toolbar .tbs .item {
    padding: 0.2rem 0.3rem;
}
.toolbar nav button{
    height: 2.1rem;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 0;
    color: #586069;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
}
.toolbar nav button:focus{
    outline:0;
} 

.toolbar .active{
    background-color: #fff;
    border-color: #d1d5da;
    border-radius: 3px 3px 0 0;
    color: #24292e;
}

.toolbar .tbs{
    float: right;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
}